 <html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<title>RE</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Arial Black";
	panose-1:2 11 10 4 2 1 2 2 2 4;}
@font-face
	{font-family:"BellGothic BT";}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
h1
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:17.85pt;
	text-align:justify;
	text-indent:-17.85pt;
	page-break-after:avoid;
	background:#33738D;
	font-size:12.0pt;
	font-family:"Arial",sans-serif;
	color:white;}
h2
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:17.85pt;
	text-indent:-17.85pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
h3
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:53.85pt;
	text-align:justify;
	text-indent:-17.85pt;
	line-height:150%;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
h6
	{margin:0in;
	text-align:center;
	page-break-after:avoid;
	font-size:9.0pt;
	font-family:"Arial",sans-serif;
	color:black;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin:0in;
	text-align:justify;
	line-height:150%;
	font-size:14.0pt;
	font-family:"Arial",sans-serif;
	color:black;}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:14.15pt;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{margin:0in;
	font-size:9.0pt;
	font-family:"Arial",sans-serif;
	color:#339966;
	font-weight:bold;}
p.CabealhodeTabela, li.CabealhodeTabela, div.CabealhodeTabela
	{mso-style-name:"Cabeçalho de Tabela";
	margin:0in;
	font-size:9.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
 /* Page Definitions */
 @page WordSection1
	{size:595.35pt 842.0pt;
	margin:42.55pt 28.35pt 42.55pt 28.35pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US link=blue vlink=purple style='word-wrap:break-word'>

<div class=WordSection1>

<h1 style='margin-left:0in;text-indent:0in'><span lang=PT-BR style='font-size:
10.0pt'>1. Dados do Colaborador             </span></h1>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.4pt;border-collapse:collapse;border:none'>
 <thead>
  <tr style='height:20.7pt'>
   <td width=381 style='width:285.7pt;border:solid windowtext 1.0pt;background:
   #AED3E2;padding:0in 5.4pt 0in 5.4pt;height:20.7pt'>
   <p class=CabealhodeTabela align=center style='margin-top:0in;margin-right:
   -1.4pt;margin-bottom:0in;margin-left:-2.85pt;margin-bottom:.0001pt;
   text-align:center;layout-grid-mode:char'><span lang=PT-BR style='font-size:
   10.0pt;color:black'>Nome Completo</span></p>
   </td>
   <td width=179 style='width:133.95pt;border:solid windowtext 1.0pt;
   border-left:none;background:#AED3E2;padding:0in 5.4pt 0in 5.4pt;height:20.7pt'>
   <p class=CabealhodeTabela align=center style='margin-top:0in;margin-right:
   -1.4pt;margin-bottom:0in;margin-left:-2.85pt;margin-bottom:.0001pt;
   text-align:center;layout-grid-mode:char'><span lang=PT-BR style='font-size:
   10.0pt;color:black'>MAQUINA</span></p>
   </td>
   <td width=155 style='width:116.0pt;border:solid windowtext 1.0pt;border-left:
   none;background:#AED3E2;padding:0in 5.4pt 0in 5.4pt;height:20.7pt'>
   <p class=CabealhodeTabela align=center style='margin-top:0in;margin-right:
   -1.35pt;margin-bottom:0in;margin-left:-2.7pt;margin-bottom:.0001pt;
   text-align:center'><span lang=PT-BR style='font-size:10.0pt;color:black'>Turno
   de atuação</span></p>
   </td>
  </tr>
 </thead>
 <tr style='height:14.35pt'>
  <td width=381 style='width:285.7pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt;height:14.35pt'>
  <p class=MsoNormal align=center style='margin-top:0in;margin-right:-1.35pt;
  margin-bottom:0in;margin-left:-2.7pt;margin-bottom:.0001pt;text-align:center;
  layout-grid-mode:char'><b><span lang=PT-BR style='color:teal'><%= userName %></span></b></p>
  </td>
  <td width=179 style='width:133.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:14.35pt'>
  <p class=MsoNormal align=center style='margin-top:0in;margin-right:-1.35pt;
  margin-bottom:0in;margin-left:-2.7pt;margin-bottom:.0001pt;text-align:center;
  layout-grid-mode:char'><b><span lang=PT-BR style='color:teal'><%= machineNumber %></span></b></p>
  </td>
  <td width=155 style='width:116.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:14.35pt'>
  <p class=MsoNormal align=center style='margin-right:-1.35pt;text-align:center;
  layout-grid-mode:char'><b><span lang=PT-BR style='color:teal'><%= setor %></span></b></p>
  </td>
 </tr>
</table>

<h1 style='margin-left:0in;text-indent:0in'><span lang=PT-BR style='font-size:
10.0pt'>2. Levantamento de Necessidades </span></h1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='margin-left:3.5pt;border-collapse:collapse'>
 <thead>
  <tr style='height:19.85pt'>
   <td width=718 style='width:538.65pt;border:solid black 1.0pt;padding:0in 3.5pt 0in 3.5pt;
   height:19.85pt'>
   <h6 align=left style='text-align:left;layout-grid-mode:char'><span
   lang=PT-BR style='font-size:10.0pt;font-weight:normal'>Termo de
   Responsabilidade de Uso de Telefonia e Notebook Corporativos</span></h6>
   </td>
  </tr>
 </thead>
</table>

<h1 style='margin-left:0in;text-indent:0in'><span lang=PT-BR style='font-size:
10.0pt'>3. Termo de Responsabilidade de Uso de Telefonia e Notebook
Corporativos</span></h1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=722
 style='margin-left:5.4pt;border-collapse:collapse'>
 <thead>
  <tr style='height:20.05pt'>
   <td width=722 style='width:541.8pt;border:solid windowtext 1.0pt;background:
   #AED3E2;padding:0in 5.4pt 0in 5.4pt;height:20.05pt'>
   <p class=CabealhodeTabela style='margin-top:0in;margin-right:-1.4pt;
   margin-bottom:0in;margin-left:-2.85pt;margin-bottom:.0001pt;layout-grid-mode:
   char'><span lang=PT-BR style='font-size:10.0pt;color:black'>Relação de
   acessórios disponibilizados aos colaboradores que receberão telefone celular:</span></p>
   </td>
  </tr>
 </thead>
 <tr style='height:26.55pt'>
  <td width=722 style='width:541.8pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt;height:26.55pt'>
  <p class=MsoNormal style='margin-right:-1.35pt;layout-grid-mode:char'><span
  lang=PT-BR>&nbsp;</span></p>
  </td>
 </tr>
 <thead>
  <tr style='height:20.05pt'>
   <td width=722 style='width:541.8pt;border:solid windowtext 1.0pt;border-top:
   none;background:#AED3E2;padding:0in 5.4pt 0in 5.4pt;height:20.05pt'>
   <p class=CabealhodeTabela style='margin-top:0in;margin-right:-1.4pt;
   margin-bottom:0in;margin-left:-2.85pt;margin-bottom:.0001pt;layout-grid-mode:
   char'><span lang=PT-BR style='font-size:10.0pt;color:black'>Relação de
   acessórios disponibilizados aos colaboradores que receberão notebook:</span></p>
   </td>
  </tr>
 </thead>
 <tr style='height:26.55pt'>
  <td width=722 style='width:541.8pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 5.4pt 0in 5.4pt;height:26.55pt'>
  <p class=MsoNormal style='margin-right:-1.35pt;layout-grid-mode:char'><span
  lang=PT-BR>Carregador e monitor, mouse e teclado sem fio</span></p>
  </td>
 </tr>
</table>

<p class=MsoBodyText style='line-height:normal'><span lang=PT-BR
style='font-size:10.0pt'>&nbsp;</span></p>

<p class=MsoBodyText style='line-height:normal'><span lang=PT-BR
style='font-size:10.0pt'>Declaro conhecer minhas responsabilidades quanto ao uso
de notebook e telefone corporativo a mim disponibilizado, sendo ele fixo ou
móvel.</span></p>

<p class=MsoBodyText style='line-height:normal'><span lang=PT-BR
style='font-size:10.0pt'>Declaro ainda estar ciente que:</span></p>

<p class=MsoBodyText style='margin-left:14.2pt;line-height:normal'><span
lang=PT-BR style='font-size:10.0pt'>1) Deverei prestar contas regularmente
acerca dos aparelhos recebidos, sua utilização e conservação, assim como de seus
acessórios. </span></p>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span
lang=PT-BR>2) Devo zelar pela integridade do aparelho e da linha que me são
confiados estritamente como instrumentos de trabalho, obrigando-me desde já e a
qualquer tempo, mediante solicitação da Android Industries, restituir temporária
ou definitivamente o aparelho e os acessórios acima descritos, ou por ocasião
de meu desligamento da Empresa, independentemente do motivo. </span></p>

<p class=MsoBodyTextIndent style='margin-left:14.2pt;text-align:justify'><span
lang=PT-BR>3) Deverei arcar com os custos de danos causados ao aparelho e/ou
acessórios, na forma do artigo 462 da CLT, inclusive nos casos de perda
resultante de negligência, se assim for estabelecido pela Empresa.</span></p>

<p class=MsoBodyText style='margin-left:14.2pt;line-height:normal'><span
lang=PT-BR style='font-size:10.0pt'>4) Deverei comunicar imediatamente à
Empresa a perda, extravio, dano, furto ou roubo dos bens que me são confiados,
devidamente documentados em Boletim de Ocorrência.</span></p>

<p class=MsoBodyText style='margin-left:14.2pt;line-height:normal'><span
lang=PT-BR style='font-size:10.0pt'>5) Deverei guardar apropriadamente os
aparelhos no final do turno de trabalho em caso de permanecia dos mesmos na
empresa.</span></p>

<p class=MsoBodyText style='margin-left:14.2pt;line-height:normal'><span
lang=PT-BR style='font-size:10.0pt'>&nbsp;</span></p>

<p class=MsoBodyText style='margin-left:14.2pt;line-height:normal'><span
lang=PT-BR style='font-size:10.0pt'>&nbsp;</span></p>

<p class=MsoBodyText2 style='text-align:justify'><span lang=PT-BR
style='font-size:10.0pt;color:windowtext'>Declaro estar ciente que os
telefones, fixo ou móvel, e notebook de propriedade da empresa disponibilizados
a mim são para uso estritamente profissional. Havendo a necessidade de uso
particular, a </span><span lang=PT-BR style='font-size:10.0pt;color:windowtext;
font-weight:normal'>não devolução dos bens, mau uso ou inobservância de
recomendações, </span><span lang=PT-BR style='font-size:10.0pt;color:windowtext'>os
valores poderão ser descontados em minha folha de pagamento</span><span
lang=PT-BR style='font-size:10.0pt;color:windowtext;font-weight:normal'> nos
valores pelos quais foram comprados.</span></p>

<p class=MsoBodyText2 style='text-align:justify'><span lang=PT-BR
style='font-size:10.0pt;color:windowtext;font-weight:normal'>&nbsp;</span></p>

<p class=MsoBodyText2 style='text-align:justify'><span lang=PT-BR
style='font-size:10.0pt;color:windowtext;font-weight:normal'>(    ) Recebi
Notebook</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=PT-BR>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=PT-BR>MODELO COMPUTADOR:
DELL LATITUDE 5420</span></p>

<p class=MsoBodyText2 style='text-align:justify'><span lang=PT-BR
style='font-size:10.0pt;color:windowtext;font-weight:normal'> </span></p>

<p class=MsoBodyText2 style='text-align:justify'><span lang=PT-BR
style='font-size:10.0pt;color:windowtext;font-weight:normal'>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='margin-left:3.5pt;border-collapse:collapse'>
 <thead>
  <tr style='height:19.85pt'>
   <td width=156 style='width:117.0pt;border:solid black 1.0pt;border-right:
   none;background:#AED3E2;padding:0in 3.5pt 0in 3.5pt;height:19.85pt'>
   <h6 style='layout-grid-mode:char'><span lang=PT-BR style='font-size:10.0pt'>&nbsp;</span></h6>
   <h6 style='layout-grid-mode:char'><span lang=PT-BR style='font-size:10.0pt'>Data</span></h6>
   </td>
   <td width=564 style='width:423.0pt;border:solid black 1.0pt;background:#AED3E2;
   padding:0in 3.5pt 0in 3.5pt;height:19.85pt'>
   <h6 style='layout-grid-mode:char'><span lang=PT-BR style='font-size:10.0pt'> Assinatura
   do Colaborador</span></h6>
   </td>
  </tr>
 </thead>
 <tr style='height:13.45pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0in 3.5pt 0in 3.5pt;height:13.45pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><b><span lang=PT-BR style='color:teal'>&nbsp;</span></b></p>
  </td>
  <td width=564 valign=top style='width:423.0pt;border:solid black 1.0pt;
  border-top:none;padding:0in 3.5pt 0in 3.5pt;height:13.45pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><b><span lang=PT-BR style='color:teal'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span lang=PT-BR>&nbsp;</span></p>

</div>

</body>

</html>
